.price::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  max-width: 100%;
  height: auto;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}

img {
  display: block;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body > * {
  flex-shrink: 0;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.cta {
  padding-top: 83px;
  padding-bottom: 84px;
  text-align: center;
  background-image: url("../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}
.cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}

.tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
}
.tasks__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 115px;
}
.tasks__content {
  width: 530px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  row-gap: 30px;
}
.tasks__img {
  width: 365px;
}
.tasks__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  row-gap: 30px;
}
.tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;
  color: #808080;
}
.tasks p + p {
  margin-top: 15px;
}

.focus {
  padding-top: 80px;
  padding-bottom: 40px;
}
.focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.focus__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  row-gap: 30px;
  width: 470px;
  padding-top: 28px;
}
.focus__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  row-gap: 30px;
}
.focus__img {
  width: 570px;
}
.focus__text {
  width: 400px;
  max-width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;
  color: #808080;
}
.focus__text p + p {
  margin-top: 15px;
}

.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.price__content {
  position: relative;
  z-index: 9;
}
.price__header {
  margin-bottom: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  row-gap: 40px;
}
.price__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;
}
.footer__row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.footer__nav {
  margin-right: 50px;
}
.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  transition: color .3s ease-in;
}
.footer__nav-item:not(:last-child) {
  margin-right: 42px;
}
.footer__nav-item:hover {
  color: #15D784;
}
.footer__social {
  display: -webkit-box;
  display: flex;
}
.footer__social-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  transition: background-color .3s ease-in;
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-item:hover {
  background: #00C470;
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.footer__copyright p + p {
  margin-top: 15px;
}

.clients {
  padding-top: 80px;
  padding-bottom: 80px;
}
.clients__header {
  margin-bottom: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  row-gap: 40px;
}
.clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}

.header {
  position: relative;
  height: 870px;
  padding-top: 60px;
  background-image: url("../img/bg/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
  color: #fff;
}
.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 35px;
}
.header__title {
  margin-bottom: 40px;
  font-size: 96px;
  line-height: 1;
}
.header__description {
  max-width: 730px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.2;
}
.header__description p {
  margin-bottom: 15px;
}
.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.functional {
  padding-top: 80px;
  padding-bottom: 80px;
}
.functional__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  row-gap: 40px;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 70px;
}
.functional__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.button-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in;
}
.button-round:hover {
  background-color: #00C470;
}

.input {
  width: 240px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
}
.input:focus {
  outline: none;
  background: black;
}

.input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.input:-ms-input-placeholder {
  color: #FFFFFF;
}

.input::-ms-input-placeholder {
  color: #FFFFFF;
}

.input::placeholder {
  color: #FFFFFF;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
}

.title--white {
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
}

.subtitle--white {
  color: #FFFFFF;
}

.card {
  width: 270px;
  text-align: center;
}
.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
}

.package {
  width: 300px;
  padding: 40px 15px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
.package__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.package__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  color: #B2B2B2;
}
.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.package__period {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.package__list {
  padding-top: 40px;
  padding-bottom: 58px;
  text-align: center;
}
.package__list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.package__list-item:not(:last-child) {
  margin-bottom: 25px;
}

.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.button-outline {
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: background-color .3s ease-in;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background-color: black;
}
.button-outline--white {
  background-color: #fff;
  color: #2E2E2E;
  border: none;
}
.button-outline--white:hover {
  background: #000;
  color: #fff;
}
.button-outline--white:focus {
  outline: none;
  background: #2f2f2f;
  color: #fff;
}

.button {
  display: inline-block;
  background-color: #00C470;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: background-color  .3s ease-in;
}
.button:hover {
  background-color: #059659;
}
.button:focus {
  outline: none;
  background-color: #065431;
}

.slider {
  position: relative;
}
.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  background: #F5F5F5;
  border-radius: 50%;
  cursor: pointer;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.slider-item__text {
  margin-right: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: #000000;
}
.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
}
.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}
.slider-item__author-name {
  display: block;
  color: #808080;
}

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */