
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  max-width: 100%;
  height: auto;
}
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}


input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}
img {
  display: block;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body > * {
  flex-shrink: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $textColor;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}