.button-outline {
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 800;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: background-color .3s ease-in;

  color: #FFFFFF;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  &:focus {
    outline: none;
    background-color: rgba(0,0,0,1);
  }

  &--white {
    background-color: #fff;
    color: $textColor;
    border: none;

    &:hover {
      background: #000;
      color: #fff;
    }

    &:focus {
      outline: none;
      background: #2f2f2f;
      color: #fff;
    }
  }
}