.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in;

  &:hover {
   background-color: #00C470;
  }
}
