.card {
  text-align: center;

  &__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @media (max-width: 1199px) {
      margin-bottom: 20px;
    }

  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    @media (max-width: 1199px) {
      margin-bottom: 10px;
      min-height: 48px;
      line-height: 1.5;
    }

    @media (max-width: 899px) {
      min-height: unset;
    }
  }
}
.card p {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    color: $paragraphColor;
  
  @media (max-width: 1199px) {
    line-height: 1.57;

  }
}