
.input {
    width: 240px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    font-size: 14px;

    @media (max-width: 899px) {
        width: 100%;
        padding-left: 46px;
        padding-right: 46px;
    }
    
    @media (max-width: 599px) {
        padding-left: 36px;
        padding-right: 36px;
    }

    &:focus {
        outline: none;
        background: rgba(0, 0, 0, 1);
    }

}
.input::placeholder {
    color: #FFFFFF;
}