.package {
  width: 300px;
  padding: 40px 15px;
  text-align: center;
  color: #fff;

  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    color: #B2B2B2;
  }
  &__price {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__period {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }

  &__list {
    padding-top: 40px;
    padding-bottom: 58px;
    text-align: center;
  }

  &__list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.package--special {
  background: rgba(48, 79, 254, 0.95);

  & .package__title {
    color: #fff;
  }

  & .package__period {
    background: rgba(0, 0, 0, 0.1);
  }
}