.clients {
  padding-top: 80px;
  padding-bottom: 80px;

  &__header {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  &__slider {
    margin-left: auto;
    margin-right: auto;
    width: 770px;
  }
}