.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;

  &__row {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    margin-right: 50px;
  }

  &__nav-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    transition: color .3s ease-in;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &:hover {
       color: $accentText;
    }
  }

  &__social {
    display: flex;
  }

  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    transition: background-color .3s ease-in;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      background: #00C470;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);

    p + p {
      margin-top: 15px;
    }
  }
}
