.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;

  @media (max-width: 1199px) {
    padding-top: 60px;
  }

  @media (max-width: 899px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 599px) {
    padding: 40px 34px;
  }

  &__row {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }

    @media (max-width: 899px) {
      flex-direction: column;
      margin-bottom: 30px;
    }

    @media (max-width: 599px) {
      margin-bottom: 40px;
    }
  }

  &__nav {
    margin-right: 50px;

    @media (max-width: 899px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    @media (max-width: 599px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__nav-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    transition: color .3s ease-in;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &:hover {
       color: $accentText;
    }

    @media (max-width: 599px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__social {
    display: flex;
  }

  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    transition: background-color .3s ease-in;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      background: #00C470;
    }
    @media (max-width: 599px) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);

    @media (max-width: 599px) {
      padding-left: 45px;
      padding-right: 45px;
      line-height: 1.5;
    }
    p + p {
      margin-top: 15px;
    }
  }
}
