.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  @include  bgImg("../img/bg/header.jpg");
  font-weight: 700;
  color: #fff;

  @media (max-width: 1199px) {
    padding-bottom: 50px;
    @include  bgImg("../img/bg/header_tablet.jpg");
  }

  @media (max-width: 899px) {
    padding-top: 20px;
    @include  bgImg("../img/bg/header_mobile.jpg");
  }

  @media (max-width: 599px) {
    padding-bottom: 40px;
    @include  bgImg("../img/bg/header_xsMobile.jpg");
  }

  &__buttons {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    @media (max-width: 1199px) {
      margin-bottom: 100px;
    }

    @media (max-width: 899px) {
      margin-bottom: 30px;
    }
  }
  &__content {
    text-align: center;
    padding-bottom: 35px;
    margin-bottom: 113px;

    @media (max-width: 1199px) {
      margin-bottom: 94px;
    }

    @media (max-width: 899px) {
      margin-bottom: 45px;
    }

    @media (max-width: 599px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 96px;
    line-height: 1;

    @media (max-width: 1199px) {
      margin-bottom: 35px;
      font-size: 84px;
    }

    @media (max-width: 899px) {
      margin-bottom: 30px;
      font-size: 70px;
    }
  }

  &__description {
    max-width: 730px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.2;

    p {
      margin-bottom: 15px;
    }


    @media (max-width: 1199px) {
      margin-bottom: 50px;
      font-size: 18px;
    }

    @media (max-width: 899px) {
      max-width: 430px;
      font-size: 16px;
    }

    @media (max-width: 599px) {
      margin-bottom: 32px;
    }

  }
  &__form {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    @media (max-width: 899px) {
      width: 370px;
      flex-direction: column;
      align-items: stretch;
      margin-left: auto;
      margin-right: auto;

      & > * + * {
        margin-top: 20px;
      }

    }

    @media (max-width: 599px) {
      width: 290px;
    }
  }
  &__scroll {
    bottom: 100px;
  }
}

