.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;

 @include bgImg("../img/bg/price-bg.jpg");

  &::before {
    @extend %overlay;
  }

  &__content {
    position: relative;
    z-index: 9;
  }

  &__header {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}

